body{

    margin: 0px;
    background-color: #fffbf7;

}

.ContainerHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    background: none
    padding: 10px;
  
}

.ContainerNav{
    width: 400px;
    height: 100px;
    
    

}

.ContainerNav > ul{
display: flex;
justify-content: space-around;
list-style: none;

}

.ContainerNav > ul > li > a {

    color: black;
    text-decoration:none;
    

}


.ContainerSignIn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 200px;

}

.ContainerSignIn > a {
    color: chartreuse;
    text-decoration: none;
    
}

.ContainerSignIn > button {
    color: white;
    background-color: rgb(0, 224, 0);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: o;
    border-radius: 5px;
   
    
}


.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5% 10%;
    background-color: lime;
    

}

.features > article{
    display: flex;
    margin-left: 15px ;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: white;
    align-items: center;

}

.features article .feature-content{
    padding: 30px 20px 40px 40px;

}

.features article .feature-content h3{
    font-size: 24px;
    color:#343434;
    font-weight: 400;

}

.features article .feature-content p{
    font-size: 16px;
    color:#7e7e7e;
    font-weight: 400;

}

.features article .feature-content a{
  font-size: 16px;
  color:#67b54b;
  font-weight: 600;
  text-decoration: none;

}

.features article .feature-img{
  background-color: red;
  width: 40%;
  position: relative;
  height: 80px;
  right: 15px;
  top: -18px;

}

.promo{

  display: flex;
  align-items: center;
  width: 70%;
  margin: 100px auto;
  height: 400px;
}

.promo Conteiner-video{
  display: flex;
  align-items: center;
}

.promo Container-publish{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.promo > Container-publish h3{
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 28px;
  color: #eeff00;
  height: 25px;
}

.promo > .Container-publish > p{

  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  height: 136px;
}

/*breakpoint*/


/*dispositivos ipads grandes en vista*/
@media (max-width: 1000px) {
    body {
      background-color: yellow;
    }
  }

  .ContainerNav{
    display: none;
  }

  @media (max-width: 875px) {
    body {
      background-color: rgb(230, 61, 5);
    }
  }
/** dispositivos ipads minis en vista viewport (vertical) */

@media (max-width: 575px) {
  body {
    background-color: rgb(0, 255, 128);
  }


.ContainerNav{
 display: none;
}


}

/** dispositivos medianos en vista (vertical) */


@media (max-width: 425px) {
    body {
      background-color: rgb(106, 106, 59);
    }
  }

  @media (max-width: 375px) {
    body {
      background-color: rgb(141, 87, 70);
    }
  }

  @media (max-width: 325px) {
    body {
      background-color: rgb(225, 171, 171);
    }
  }